
.imgBackGround {
  background-image: url(pic/backgroundMain1.jpg);
   
}



.navListMenu {
  list-style-type: none;
  margin: 9rem 0px;
  padding: 0;
  overflow: hidden;
  background-color: #306830b0;
  width: 100%;
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 1px 5px 5px 0px rgb(103, 209, 17);
  
}

.navList {
  float: left;
   
}

.navList a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList a:hover {
  background-color: #000000a9;

}

.header {
position: -webkit-sticky;
position: sticky;
top: 0;
height: 13rem;
padding: 10px;
text-align: center;
background: rgba(175, 221, 137, 0.459);
color: rgba(148, 115, 5, 0.973);
font-size: 20px;
border-radius: 20px;

}

.logo {
  height: 8rem;
  position: relative;
  float: left;
}

.woodPromo {
  height: 600px;
  width: 103rem;
  border-radius: 20px;
  
}

.searchForm {
  width: 300px;
  font-size: 34px;
 
}

.grid-container {
  display: grid;
  grid-template: 400px / auto auto auto;
  grid-gap: 120px;
  background-color: #2195f300;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.gridSizeImg {
  width: 300px;
  height: 300px;
  border: solid 3px rgba(0, 0, 0, 0.192);
}




.body {
min-height: 100rem;
padding: 10px;
text-align: center;
background: rgba(175, 221, 137, 0.459);
color: rgba(148, 115, 5, 0.973);
font-size: 20px;
border-radius: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.945);
  color: white;
  text-align: center;
}

.footerSty {
  display: inline;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

